@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-normal-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-normal-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* Colores primarios */
  --black-primary: #1a1a1a;
  --blue-primary: #647eff;
  --gray-primary: #545454;
  --green-primary: #42b883;
  --white-primary: #ffffff;
  --red-primary: #ed3c50;

  /* Colores secundarios */
  --black-secondary: #242424;
  --blue-secondary: #aac8e4;
  --gray-secondary: #ebebeb;

  /* Colores de resaltado */
  --accent-gray: #6d6d6d;
  --accent-green: #35eb9a;

  /* Otras reglas globales */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--black-primary);
  color: var(--gray-secondary);
  font-family: "Montserrat", sans-serif;
}

header,
main,
footer {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

/* Cabecera de página */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(
    to right,
    var(--green-primary),
    var(--blue-primary)
  );
  border-image-slice: 1;
  background-color: var(--black-primary);
}

header button {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: calc(100% - 56px);
  padding: 4px;
  background-color: var(--black-primary);
  border: 2px solid var(--gray-secondary);
  border-radius: 4px;
  box-sizing: border-box;
}

header .icono-menu-abrir {
  display: block;
}

header .icono-menu-cerrar {
  display: none;
}

header nav {
  position: relative;
  z-index: 1;
}

header nav,
footer nav {
  text-align: right;
}

header nav.menu-abierto {
  display: block;
}

header ul,
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li,
footer li {
  display: inline-block;
}

header a,
footer nav a {
  display: block;
  color: var(--gray-secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header a:hover,
footer nav a:hover {
  color: var(--green-primary);
}

main {
  box-sizing: border-box;
}

.seccion-experiencia h2,
.seccion-proyectos h2,
.seccion-sobre-mi h2,
.seccion-contacto {
  scroll-margin-top: 64px;
}

/* Sección principal */
.seccion-principal,
.seccion-principal-movil {
  border-bottom: 1px solid var(--gray-primary);
}

.seccion-principal h1,
.seccion-principal-movil h1 {
  color: var(--green-primary);
}

.seccion-principal h1 span.nombre,
.seccion-principal-movil h1 span.nombre {
  background: linear-gradient(45deg, var(--green-primary), var(--blue-primary));
  background-clip: text;
  color: transparent;
}

.seccion-principal h1 span.subtitulo,
.seccion-principal-movil h1 span.subtitulo {
  display: block;
  color: var(--gray-secondary);
}

.seccion-principal {
  padding: 88px 0 44px;
}

.seccion-principal h1 {
  font-size: 32px;
}

.seccion-principal h1 span.subtitulo {
  font-size: 20px;
}

.seccion-principal-movil {
  display: none;
}

.seccion-principal-movil {
  padding: 0 0 64px;
}

.seccion-principal-movil h1 {
  font-size: 24px;
  margin-bottom: 32px;
}

.seccion-principal-movil h1 span.subtitulo {
  margin: 12px 0;
  font-size: 16px;
}

section h2 {
  color: var(--green-primary);
}

/* Sección de experiencia */
.seccion-experiencia > ul {
  background-color: var(--black-secondary);
  padding: 8px 40px 24px;
  border-radius: 8px;
}

.seccion-experiencia > ul > li {
  border-bottom: 4px solid var(--black-primary);
}

.seccion-experiencia > ul > li:last-child {
  border-bottom: none;
}

.empresa-cliente a,
.empresa-cliente a:visited {
  color: var(--blue-secondary);
  transition: color 0.3s ease;
}

.empresa-cliente a:hover {
  color: var(--blue-primary);
}

.empresa-cliente span {
  display: block;
}

.empresa-cliente ~ p {
  margin: 12px 0;
}

.responsabilidades {
  padding: 8px 20px 24px;
}

.responsabilidades li::marker {
  color: var(--blue-secondary);
}

.tecnologias {
  padding: 0;
}

.tecnologias li {
  display: inline-block;
  margin: 4px 0;
  padding: 6px 18px;
  background-color: #1a1a1a;
  border-radius: 16px;
  color: var(--blue-secondary);
  border: 1px solid var(--blue-secondary);
}

/* Seccion proyectos */
.seccion-proyectos ul {
  list-style: none;
  padding: 8px 0 24px;
}

.seccion-proyectos > ul > li {
  display: flex;
  gap: 20px;
}

.seccion-proyectos .contenedor-imagen {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.seccion-proyectos .contenedor-imagen img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.seccion-proyectos .contenedor-imagen:hover img {
  transform: scale(1.1);
}

.seccion-proyectos .contenedor-descripcion {
  width: 100%;
  max-width: 450px;
}

.seccion-proyectos .contenedor-descripcion h3 {
  margin-top: 0;
}

/* Sección sobre mí */
.seccion-sobre-mi p em {
  font-style: normal;
  color: var(--blue-secondary);
}

.seccion-sobre-mi img {
  width: 100%;
  max-width: 768px;
  aspect-ratio: 384/257;
  border-radius: 8px;
}

.seccion-sobre-mi .enlaces-contacto {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 44px;
}

.seccion-sobre-mi .enlaces-contacto a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-secondary);
  text-decoration: none;
  padding: 8px 12px;
  background-color: var(--gray-primary);
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.seccion-sobre-mi .enlaces-contacto a:hover {
  background-color: var(--accent-gray);
}

.seccion-sobre-mi .enlaces-contacto a:first-child {
  background-color: var(--green-primary);
  color: var(--black-secondary);
}

.seccion-sobre-mi .enlaces-contacto a:first-child:hover {
  background-color: var(--accent-green);
}

.seccion-sobre-mi .enlaces-contacto img {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-color: inherit;
  border-radius: 4px;
}

/* Sección contacto */
.seccion-contacto label {
  color: var(--gray-secondary);
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.seccion-contacto input,
.seccion-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-primary);
  border-radius: 4px;
  background-color: var(--black-secondary);
  color: var(--gray-secondary);
  font-size: 16px;
  box-sizing: border-box;
}

.seccion-contacto input:focus-visible,
.seccion-contacto textarea:focus-visible {
  outline: 1px solid var(--gray-secondary);
}

.seccion-contacto input {
  height: 40px;
}

.seccion-contacto button {
  background-color: var(--green-primary);
  color: var(--black-secondary);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: calc(100% - 120px);
  width: 120px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.seccion-contacto button:hover {
  background-color: var(--accent-green);
}

.seccion-contacto .mensaje-exitoso,
.seccion-contacto .mensaje-error {
  display: none;
  position: relative;
  margin-top: 24px;
  padding: 0 24px 0 36px;
  border-radius: 8px;
  background-color: var(--black-secondary);
}

.seccion-contacto .mensaje-exitoso {
  border: 1px solid var(--green-primary);
}

.seccion-contacto .mensaje-error {
  border: 1px solid var(--red-primary);
}

.seccion-contacto .mensaje-exitoso p::before,
.seccion-contacto .mensaje-error p::before {
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  top: 12px;
  left: 12px;
}

.seccion-contacto .mensaje-exitoso p::before {
  content: "ⓘ";
  color: var(--green-primary);
}

.seccion-contacto .mensaje-error p::before {
  content: "⚠";
  color: var(--red-primary);
}

/* Pie de página */
footer {
  margin-top: 46px;
  color: var(--gray-secondary);
  text-align: center;
}

footer p {
  margin-top: 46px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--black-secondary);
}

@media screen and (max-width: 790px) {
  main {
    padding: 0 20px;
  }

  .seccion-experiencia > ul {
    padding: 8px 24px 24px;
  }

  .seccion-sobre-mi .enlaces-contacto {
    padding: 24px;
    margin-top: 0;
  }

  footer p {
    border-radius: 0;
  }
}

@media screen and (max-width: 520px) {
  header {
    height: 64px;
    border-bottom: none;
  }

  header button {
    display: block;
  }

  header nav {
    display: none;
    position: absolute;
    top: 64px;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: rgba(255, 255, 255, 0.32);
  }

  header ul {
    width: inherit;
    background-color: var(--black-secondary);
  }

  header li {
    display: block;
    border-bottom: 2px solid var(--black-primary);
  }

  header li:last-child {
    border-bottom: none;
  }

  section h2 {
    margin: 14px 0;
  }

  .seccion-principal {
    display: none;
  }

  .seccion-principal-movil {
    display: block;
    padding: 64px 0 24px;
  }

  .seccion-experiencia .empresa-cliente,
  .habilidades-blandas h3 {
    margin: 12px 0;
  }

  .seccion-experiencia p {
    margin: 6px 0;
  }

  .seccion-experiencia .responsabilidades,
  .seccion-experiencia .tecnologias {
    padding: 8px 24px;
  }

  .seccion-proyectos > ul {
    padding: 8px 0 0;
  }

  .seccion-proyectos > ul > li {
    flex-direction: column;
    gap: 10px;
  }

  .seccion-proyectos .contenedor-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(
      45deg,
      var(--black-secondary),
      var(--blue-primary),
      var(--black-secondary)
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 8px;
  }

  .seccion-proyectos .contenedor-descripcion h3 {
    margin-top: 8px;
  }

  .seccion-sobre-mi p {
    padding: 8px 0;
  }

  .seccion-sobre-mi .enlaces-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    margin-top: 0;
  }
}
