@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-normal-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-normal-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* Colores primarios */
  --black-primary: #1a1a1a;
  --blue-primary: #647eff;
  --gray-primary: #545454;
  --green-primary: #42b883;
  --white-primary: #ffffff;

  /* Colores secundarios */
  --black-secondary: #242424;
  --blue-secondary: #aac8e4;
  --gray-secondary: #ebebeb;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--black-primary);
  color: var(--gray-secondary);
  font-family: "Montserrat", sans-serif;
}

header,
main,
footer {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

/* Cabecera de página */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(
    to right,
    var(--green-primary),
    var(--blue-primary)
  );
  border-image-slice: 1;
  background-color: var(--black-primary);
}

header button {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: calc(100% - 56px);
  padding: 4px;
  background-color: var(--black-primary);
  border: 2px solid var(--gray-secondary);
  border-radius: 4px;
  box-sizing: border-box;
}

header .icono-menu-abrir {
  display: block;
}

header .icono-menu-cerrar {
  display: none;
}

header nav,
footer nav {
  text-align: right;
}

header nav.menu-abierto {
  display: block;
}

header ul,
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li,
footer li {
  display: inline-block;
}

header a,
footer nav a {
  display: block;
  color: var(--gray-secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header a:hover,
footer nav a:hover {
  color: var(--green-primary);
}

main {
  box-sizing: border-box;
}

.seccion-experiencia h2,
.seccion-educacion h2,
.seccion-habilidades h2,
.seccion-sobre-mi h2 {
  scroll-margin-top: 64px;
}

/* Sección principal */
.seccion-principal,
.seccion-principal-movil {
  border-bottom: 1px solid var(--gray-primary);
}

.seccion-principal h1,
.seccion-principal-movil h1 {
  color: var(--green-primary);
}

.seccion-principal h1 span.nombre,
.seccion-principal-movil h1 span.nombre {
  background: linear-gradient(45deg, var(--green-primary), var(--blue-primary));
  background-clip: text;
  color: transparent;
}

.seccion-principal h1 span.subtitulo,
.seccion-principal-movil h1 span.subtitulo {
  display: block;
  color: var(--gray-secondary);
}

.seccion-principal {
  padding: 88px 0 44px;
}

.seccion-principal h1 {
  font-size: 32px;
}

.seccion-principal h1 span.subtitulo {
  font-size: 20px;
}

.seccion-principal-movil {
  display: none;
}

.seccion-principal-movil {
  padding: 0 0 64px;
}

.seccion-principal-movil h1 {
  font-size: 24px;
  margin-bottom: 32px;
}

.seccion-principal-movil h1 span.subtitulo {
  margin: 12px 0;
  font-size: 16px;
}

section h2 {
  color: var(--green-primary);
}

/* Sección sobre mí */
.seccion-sobre-mi p em {
  font-style: normal;
  color: var(--blue-secondary);
}

/* Sección de experiencia */
.seccion-experiencia ul {
  background-color: var(--black-secondary);
  padding: 8px 40px 24px;
  border-radius: 8px;
}

.seccion-experiencia > ul > li {
  border-bottom: 4px solid var(--black-primary);
}

.seccion-experiencia > ul > li:last-child {
  border-bottom: none;
}

.empresa-cliente a,
.empresa-cliente a:visited {
  color: var(--blue-secondary);
  transition: color 0.3s ease;
}

.empresa-cliente a:hover {
  color: var(--blue-primary);
}

.empresa-cliente span {
  display: block;
}

.empresa-cliente ~ p {
  margin: 12px 0;
}

.responsabilidades li::marker {
  color: var(--blue-secondary);
}

.tecnologias {
  padding: 0;
}

.tecnologias li {
  display: inline-block;
  margin: 4px 0;
  padding: 6px 18px;
  background-color: #1a1a1a;
  border-radius: 16px;
  color: var(--blue-secondary);
  border: 1px solid var(--blue-secondary);
}

/* Seccion educación */
.educacion-superior p,
.educacion-cursos p {
  margin: 12px 0;
  padding-left: 40px;
}

.educacion-superior a,
.educacion-cursos a,
.educacion-superior a:visited,
.educacion-cursos a:visited {
  color: var(--blue-secondary);
  transition: color 0.3s ease;
}

.educacion-superior a:hover,
.educacion-cursos a:hover {
  color: var(--blue-primary);
}

.educacion-cursos table {
  border-collapse: collapse;
  width: 100%;
}

.educacion-cursos table th,
.educacion-cursos table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--gray-secondary);
}

/* Seccion habilidades */
.seccion-habilidades div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.seccion-habilidades .habilidades-tecnicas,
.seccion-habilidades .habilidades-blandas {
  padding: 8px 16px;
}

.seccion-habilidades .habilidades-tecnicas {
  background-color: #242424;
  border-radius: 8px;
}

.seccion-habilidades .habilidades-tecnicas ul,
.seccion-habilidades .habilidades-blandas ul {
  padding: 0;
}

.seccion-habilidades .habilidades-tecnicas ul {
  list-style: none;
}

.seccion-habilidades .habilidades-blandas ul li {
  margin-bottom: 4px;
}

/* Pie de página */
footer {
  margin-top: 46px;
  color: var(--gray-secondary);
  text-align: center;
}

footer .enlaces-contacto {
  display: flex;
  justify-content: end;
  gap: 20px;
}

footer .enlaces-contacto a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-secondary);
  text-decoration: none;
  padding: 8px 12px;
  background-color: var(--gray-primary);
  border-radius: 6px;
}

footer .enlaces-contacto img {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  background-color: inherit;
  border-radius: 4px;
}

footer p {
  margin-top: 46px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--black-secondary);
}

@media screen and (max-width: 520px) {
  header {
    height: 64px;
    border-bottom: none;
  }

  header button {
    display: block;
  }

  header nav {
    display: none;
    position: absolute;
    top: 64px;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: rgba(255, 255, 255, 0.32);
  }

  header ul {
    width: inherit;
    background-color: var(--black-secondary);
  }

  header li {
    display: block;
    border-bottom: 2px solid var(--black-primary);
  }

  header li:last-child {
    border-bottom: none;
  }

  main {
    padding: 0 20px;
  }

  section h2 {
    margin: 14px 0;
  }

  .seccion-principal {
    display: none;
  }

  .seccion-principal-movil {
    display: block;
    padding: 64px 0 24px;
  }

  .seccion-experiencia .empresa-cliente,
  .educacion-superior h3,
  .educacion-cursos h3,
  .habilidades-tecnicas h3,
  .habilidades-blandas h3 {
    margin: 12px 0;
  }

  .seccion-experiencia p,
  .educacion-superior p {
    margin: 6px 0;
  }

  .seccion-experiencia ul {
    padding: 8px 28px;
  }

  .seccion-experiencia .responsabilidades,
  .seccion-experiencia .tecnologias {
    padding: 8px 24px;
  }

  .seccion-habilidades div {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .educacion-superior p {
    padding-left: 8px;
  }

  footer .enlaces-contacto {
    justify-content: center;
  }

  footer p {
    border-radius: 0;
  }
}
